USE [master]
GO
/****** Object:  Database [epicDataBase]    Script Date: 21.10.2022 13:10:06 ******/
CREATE DATABASE [epicDataBase]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'epicDataBase', FILENAME = N'G:\SQLserver\MSSQL15.SQLEXPRESS\MSSQL\DATA\epicDataBase.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'epicDataBase_log', FILENAME = N'G:\SQLserver\MSSQL15.SQLEXPRESS\MSSQL\DATA\epicDataBase_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [epicDataBase].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [epicDataBase]
GO
/****** Object:  Table [dbo].[Accounts]    Script Date: 21.10.2022 13:10:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accounts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[num] [varchar](max) NULL,
	[money] [float] NULL,
	[ownerEmail] [varchar](50) NULL,
 CONSTRAINT [PK_Accounts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clients]    Script Date: 21.10.2022 13:10:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clients](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Login] [nvarchar](50) NULL,
	[Haslo] [nvarchar](50) NULL,
	[Imie] [nvarchar](50) NULL,
	[Nazwisko] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[Active] [bit] NULL,
	[Blocked] [bit] NULL,
	[Money] [float] NULL,
	[Role] [varchar](50) NULL,
 CONSTRAINT [PK_Clients] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contractors]    Script Date: 21.10.2022 13:10:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contractors](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[Surname] [varchar](50) NULL,
	[Accountnumber] [varchar](50) NULL,
	[Email] [varchar](50) NULL,
	[ownerEmail] [varchar](50) NULL,
 CONSTRAINT [PK_Contractors] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TransactionLogs]    Script Date: 21.10.2022 13:10:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TransactionLogs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FromEmail] [varchar](50) NULL,
	[ToEmail] [varchar](50) NULL,
	[Amount] [varchar](50) NULL,
	[Title] [varchar](50) NULL,
	[Date] [varchar](50) NULL,
 CONSTRAINT [PK_TransactionLogs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[SP_Account]    Script Date: 21.10.2022 13:10:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[SP_Account]
(  
   @num as varchar (MAX),  
   @money as float,
   @ownerEmail as varchar (50)
 
)  
as  
begin tran
begin
   Insert into Accounts (num,money,ownerEmail) Values (@num,@money,@ownerEmail)  
End  
commit tran
GO
/****** Object:  StoredProcedure [dbo].[SP_Client]    Script Date: 21.10.2022 13:10:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_Client]
(  
   @Login as varchar (50),  
   @Haslo as varchar (50),
   @Imie as varchar (50),
   @Nazwisko as varchar (50),
   @Email as varchar (50),
   @Role as varchar (50)
)  
as  
begin tran
begin
   Insert into Clients (Login,Haslo,Imie,Nazwisko,Email,Role) Values (@Login,@Haslo,@Imie,@Nazwisko,@Email,@Role)  
End  
commit tran
GO
/****** Object:  StoredProcedure [dbo].[SP_Contractors]    Script Date: 21.10.2022 13:10:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_Contractors]
(
   @Name as varchar (50),
   @Surname as varchar(50),
   @Accountnumber as varchar(50),
   @Email as varchar (50),
   @ownerEmail as varchar (50)
)
as
begin tran
begin
   Insert into Contractors (Name,Surname,Accountnumber,Email,ownerEmail) Values (@Name,@Surname,@Accountnumber,@Email,@ownerEmail)
End
commit tran
GO
/****** Object:  StoredProcedure [dbo].[SP_TransactionLog]    Script Date: 21.10.2022 13:10:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_TransactionLog]
(  
   @FromEmail as varchar (50),  
   @ToEmail as varchar (50),
   @Amount as varchar (50),
   @Title as varchar (50),
   @Date as varchar (50)
)  
as  
begin tran
begin
   Insert into TransactionLogs (FromEmail,ToEmail,Amount,Title,Date) Values (@FromEmail,@ToEmail,@Amount,@Title,@Date)  
End  
commit tran
GO
USE [master]
GO
