@model Depozyto.Models.UserModel
@{
    ViewData["Title"] = "Dodaj środki";
}

<center>
    <div class="card text-white bg-secondary mb-3" style="max-width: 500px;">

        <div class="card-header"><h2>Dodaj środki do twojego konta</h2></div>
        <div class="card-body">
            <div class="text-center" style="
			width: 400px;
			margin: auto;">

                <form id="Login" asp-action="Wplata" asp-controller="DashBoard" method="post">
                    <fieldset>
                        <div class="row align-items-center justify-content-center">
                            <div class="form-group col-md-6">
                                <label asp-for="Money" class="control-label">Ilość pieniendzy</label>
                                <input asp-for="Money" class="form-control" placeholder="Hasło" type="number" />
                                <span asp-validation-for="Money" class="text-danger"></span>
                            </div>
                        </div>
                    </fieldset>

                    <div class="row">
                        <div class="form-group col-md-12 text-center mt-md-2">
                            <input type="submit" value="Wplata" class="btn btn-primary" />
                        </div>
                    </div>

                </form>

                <br />

                <button type="button" class="btn btn-info">
                    <a asp-action="Cancel">Anuluj</a>
                </button>

            </div>
        </div>
    </div>
</center>


