<html>
<body>
    <div class="container">
        <center><h1>Historia Transakcji</h1></center>
        <div class="card bg-secondary">
            <div class="history card">
                <table>
                    <thead>
                        <tr>
                            <th>&nbsp;</th>
                            <th>Historia Transakcji</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>10.69</td>
                            <td>PLN</td>
                            <td><strong>10.06.2022</strong></td>
                            <td>Igipigiel</td>
                        </tr>
                        <tr>
                            <td>420.00</td>
                            <td>PLN</td>
                            <td><strong>10.10.2022</strong></td>
                            <td>Seba</td>
                        </tr>
                        <tr>
                            <td>2137.00</td>
                            <td>PLN</td>
                            <td><strong>01.04.2005</strong></td>
                            <td>Paweł</td>
                        </tr>
                        <tr>
                            <td>6.00</td>
                            <td>PLN</td>
                            <td><strong>24.08.2022</strong></td>
                            <td>Grażyna</td>
                        </tr>
                        <tr>
                            <td>2115.69</td>
                            <td>PLN</td>
                            <td><strong>10.10.2022</strong></td>
                            <td>Borys</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <center>
            <button class="btn btn-primary">
                <a asp-controller="DashBoard" asp-action="Index">Powrót</a>
            </button>
        </center>
    </div>
</body>
</html>
<style>
    .history {
        color: white;
        box-shadow: 3px 4px #DCDCDC;
    }
</style>