@{
    ViewData["Title"] = "Dashboard";
}
<html>
<body>
    <div class="container">
        <div>
            <div class="account container">
                <ul>
                    <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Transakcje</a>
                        <div class="dropdown-menu" style="">
                            <a class="dropdown-item" asp-controller="Transaction" asp-action="Transaction">Wykonaj Transakje</a>
                            <a class="dropdown-item" asp-controller="Transaction" asp-action="History">Historia Transakcji</a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="account container">
                <ul>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Kontrachenci</a>
                        <div class="dropdown-menu" style="">
                            <a class="dropdown-item" asp-controller="Contractors" asp-action="Index">Kontrachenci</a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="account container">
                <ul>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Konta Bankowe</a>
                        <div class="dropdown-menu" style="">
                            <a class="dropdown-item" asp-controller="Accounts" asp-action="Index">Konta Bankowe</a>
                            <a class="dropdown-item" asp-controller="Accounts" asp-action="Deposit">Dodaj Środki</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div>
            <h3>Konta</h3>




        </div>
        <div>
            <h3>Historia ostatnich tranzakcji</h3>



        </div>
    
    </div>
</body>
</html>

<style>
    .account{
    }
    .Wallet{
        position: absolute;
        top: 300px;
        left: 800px;
        color:white;
        box-shadow: 3px 4px #DCDCDC;
    }
    .table-wallet{
        background-color: rgba(128, 128, 128, 0.3);
        color:white;
    }
    .history{
        position: absolute;
        top: 500px;
        left: 800px;
        color: white;
        box-shadow: 3px 4px #DCDCDC;
    }
</style>
	
