<html>
<body>
    <div class="container">
            <div class="account container">
                <ul>
                    <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Transakcje</a>
                        <div class="dropdown-menu" style="">
                            <a class="dropdown-item" asp-controller="DashBoard" asp-action="Transaction">Wykonaj Transakje</a>
                            <a class="dropdown-item" asp-controller="DashBoard" asp-action="History">Historia Transakcji</a>
                        </div>
                    </li>
                </ul>
            </div>
            <div>
                <h4>Konta</h4>
                <h5>(nazwa konta)</h5>
                <img src="~/Images/dopasowana_VISA_420x250.webp" alt="Przykładowa Karta Debetowa" width="315" height="187" />
                <div class="Wallet card" style="width: 50%">
                    <table>
                        <thead>
                            <tr>
                                <th>Dostępne środki</th>
                                <th>cos tam</th>
                                <th>jeszcze co innego</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>&nbsp;</td>
                            </tr>
                            <tr class="table-wallet">
                                <td>(dostepne srodki)  PLN</td>
                                <td>małpa</td>
                                <td>Lorem  ezzafdsdfsdfs</td>
                            </tr>
                            <tr class="table-wallet">
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="history card mb-1" style="width: 50%; max-height: 500px">
                <table>
                    <thead>
                        <tr>
                            <th>&nbsp;</th>
                            <th>Historia Transakcji</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>10.69</td>
                            <td>PLN</td>
                            <td><strong>10.06.2022</strong></td>
                            <td>Igipigiel</td>
                        </tr>
                        <tr>
                            <td>420.00</td>
                            <td>PLN</td>
                            <td><strong>10.10.2022</strong></td>
                            <td>Seba</td>
                        </tr>
                        <tr>
                            <td>2137.00</td>
                            <td>PLN</td>
                            <td><strong>01.04.2005</strong></td>
                            <td>Paweł</td>
                        </tr>
                        <tr>
                            <td>6.00</td>
                            <td>PLN</td>
                            <td><strong>24.08.2022</strong></td>
                            <td>Grażyna</td>
                        </tr>
                        <tr>
                            <td>2115.69</td>
                            <td>PLN</td>
                            <td><strong>10.10.2022</strong></td>
                            <td>Borys</td>
                        </tr>
                    </tbody>
                </table>
            </div>
    </div>
</body>
</html>

<style>
    .account{
    }
    .Wallet{
        position: absolute;
        top: 300px;
        left: 800px;
        color:white;
        box-shadow: 3px 4px #DCDCDC;
    }
    .table-wallet{
        background-color: rgba(128, 128, 128, 0.3);
        color:white;
    }
    .history{
        position: absolute;
        top: 500px;
        left: 800px;
        color: white;
        box-shadow: 3px 4px #DCDCDC;
    }
</style>
	
