@{
    ViewData["Title"] = "Sukces!";
}

<html>
<body>
    <div class="container">
        <center>
            <bold><h1>Sukces!</h1></bold>
            <button class="btn btn-success">
                <a asp-controller="DashBoard" asp-action="Index">Powrót do Panelu Użytkownika</a>
            </button>
        </center>
    </div>
</body>
</html>
