@{
    ViewData["Title"] = "Sukces!";
}

<html>
<body>
    <div class="container">
        <center>
            <bold><h1>Sukces!</h1></bold>
            
                <a class="btn btn-success" asp-controller="DashBoard" asp-action="Index">Powrót do Panelu Użytkownika</a>
            
        </center>
    </div>
</body>
</html>
