<html>
<body>
    <div class="container">
        <center>
            <h1>Wykonano Pomyślnie!</h1>
            <button class="btn btn-secondary">
                <a asp-controller="DashBoard" asp-action="Index">Powrót do Panelu Użytkownika</a>
            </button>
        </center>
    </div>
</body>
</html>
