<html>
<body>
    <div class="container">
        <center>
            <div class="card text-white bg-secondary mb-4" style="max-width:450px;">
                <div class="container card-body">
                    <h4>Z konta:</h4>
                    <h5>(Nazwa konta)</h5>
                    <br />
                    <br />
                    <h5>Nazwa odbiorcy</h5>
                    <input type="text" placeholder="Nazwa odbiorcy" id="recipient" class="form-control" />
                    <h5>Numer rachunku</h5>
                    <input type="number" placeholder="Numer rachunku" id="recipientaccoundnumber" class="form-control" />
                    <h5>Kwota</h5>
                    <input type="number" placeholder="Kwota" id="cash" class="form-control" style="width:80%" /> <strong>PLN</strong>
                    <h5>Tytułem</h5>
                    <input type="text" placeholder="Przelew" id="transactiontittle" class="form-control" />
                    <h5>Data</h5>
                    <input type="date" id="transactiondate" class="form-control" />
                </div>
            </div>
            <button class="btn btn-secondary">
                <a asp-controller="DashBoard" asp-action="Succes">Wykonaj</a>
            </button>
            <button class="btn btn-secondary">
                <a asp-controller="DashBoard" asp-action="Cancel">Anuluj</a>
            </button>
        </center>
    </div>
</body>
</html>

