
@{
    ViewData["Title"] = "Strona Logowania";
}



<center>
	<div class="card text-white bg-secondary mb-3" style="max-width: 500px;">
		
		<div class="card-header"><h2>Zaloguj Się</h2></div>
		<div class="card-body">
			<div class="text-center" style="
			width: 400px;
			margin: auto;">

				<div class="form-group">
					<label class="col-form-label mt-1" for="inputDefault">Login</label>
					<input type="text" class="form-control" placeholder="Login" id="inputDefault">
				</div>

				<div class="form-group">
					<label for="exampleInputPassword1" class="form-label mt-4">Hasło</label>
					<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Hasło">
				</div>

				<br />
				<button type="button" class="btn btn-success btn-lg">Zaloguj się</button>
				<br />
				<br />
				

				<button type="button" class="btn btn-info btn-sm">
					<a asp-action="Register">Nie masz konta? Zarejestruj się tutaj</a>
				</button>
				

			</div>
		</div>
	</div>
</center>
