@model Depozyto.Models.LoginModel
@{
    ViewData["Title"] = "Strona Logowania";
}



<center>
	<div class="card text-white bg-secondary mb-3" style="max-width: 500px;">
		
		<div class="card-header"><h2>Zaloguj Się</h2></div>
		<div class="card-body">
			<div class="text-center" style="
			width: 400px;
			margin: auto;">

			<form id="Login" asp-action="Index" asp-controller="Login" method="post">
                    <fieldset>
                        <div class="row align-items-center justify-content-center">
                            <div class="form-group col-md-6">
                                <label asp-for="Login" class="control-label">Login</label>
                                <input asp-for="Login" class="form-control" placeholder="Login" type="text"/>
                                <span asp-validation-for="Login" class="text-danger">   </span>
                            </div>
                        </div>
                        <br />
                        <div class="row align-items-center justify-content-center">
                            <div class="form-group col-md-6">
                                <label asp-for="Password" class="control-label">Hasło</label>
                                <input asp-for="Password" class="form-control" placeholder="Hasło" type="password"/>
                                <span asp-validation-for="Password" class="text-danger">   </span>
                            </div>
                        </div>
                    </fieldset>

                    <div>
                        @if(ViewData["LoginFlag"] != null)
                        {
                            <br />
                            <center>
                                <h5>Niepoprawne dane!!</h5>
                            </center>
                        }
                    </div>

                    <div>
                        @if (ViewData["UserBlocked"] != null)
                        {
                            <br />
                            <center>
                                <h5>Użytkownik Został Zablokowany</h5>
                            </center>
                        }
                    </div>

                    <div class="row">
                        <div class="form-group col-md-12 text-center mt-md-2">
                            <input type="submit" value="Zaloguj" class="btn btn-success" />
                        </div>
                    </div>
                    
                </form>

                <br />

                
                    <a class="btn btn-primary" asp-controller="Register" asp-action="Register">Stwórz konto tutaj!!</a>
                
                
			</div>
		</div>
	</div>
</center>
