@{
	ViewData["Title"] = "Strona Rejestrowania";
}



<center>
	<div class="card text-white bg-secondary mb-3" style="max-width: 500px;">

		<div class="card-header"><h2>Zarejestruj się</h2></div>
		<div class="card-body">
			<div class="text-center" style="
			width: 400px;
			margin: auto;">

				<div class="form-group">
					<label class="col-form-label mt-1" for="inputDefault">Login</label>
					<input type="text" class="form-control" placeholder="Login" id="inputDefault">
				</div>

				<div class="form-group">
					<label for="exampleInputPassword1" class="form-label mt-2">Hasło</label>
					<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Hasło">
				</div>

				<div class="form-group">
					<label for="exampleInputPassword1" class="form-label mt-2">Potwierdź Hasło</label>
					<input type="password" class="form-control" id="exampleInputPassword2" placeholder="Potwierdź Hasło">
				</div>

				<div class="form-group">
					<label for="exampleInputPassword1" class="form-label mt-2">Imię</label>
					<input type="text" class="form-control" id="inputDefault" placeholder="Imię">
				</div>

				<div class="form-group">
					<label for="exampleInputPassword1" class="form-label mt-2">Nazwisko</label>
					<input type="text" class="form-control" id="inputDefault" placeholder="Nazwisko">
				</div>

				<div class="form-group">
					<label for="exampleInputPassword1" class="form-label mt-2">E-mail</label>
					<input type="text" class="form-control" id="inputDefault" placeholder="E-mail">
				</div>

				<br />
				<button type="button" class="btn btn-success btn-lg">Stwórz konto</button>
				<br />
			
			</div>
		</div>
	</div>
</center>
