@{
	ViewData["Title"] = "Poprawnie Zalogowano";
}


<center>
	<h1>Zalogowano Poprawnie</h1>
    <h3>
        Witaj, @User.Identity.
           
    </h3>

	
        <a class="btn btn-info" asp-action="Index" asp-controller="DashBoard">Przejdź do panelu sterowania</a>
                

</center>
