@model IEnumerable<Depozyto.Models.AccountModel>

@{
    ViewData["Title"] = "Konta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
<center>
<h1>Konta</h1>
</center>

<a class="btn btn-primary" asp-action="AddAccount">Stwórz konto tutaj!!</a>






<table class="table">
    <thead>
        <tr>
           
            <th>
                <p>Numer konta</p>
            </th>
            <th>
                <p>ilosc kaski na koncie</p>
            </th>
            <th>
                <p>email wlasciciela</p>
            </th>
            
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            
            <td>
                @item.num
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.money)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ownerEmail)
            </td>
           
        </tr>
}
    </tbody>
</table>
</div>

<script>
    function dupa = () =>{
        console.log(@Model)
    }
</script>
