<div class="container">
	<center>
		<h1 class="text-danger"><bold>Ups!!!</bold></h1>
		<h2 class="text-muted">Coś poszło nie tak, spróbuj ponownie lub skontaktuj się z administratorem</h2>
        <a class="btn btn-primary" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
            Kontakt
        </a>
	</center>
</div>

<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasExampleLabel">Kontakt</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div>
             Kontakt z administratorami :
             <br />
             Email - example@example.com
             <br />
             Tel - +48 111 222 333
        </div>
    </div>
</div>