
<center>
<div class="row mt-5">
    <h1 class="mx-auto font-weight-bold text_color">Jak działa płatnicza platforma powiernicza - <a href ="https://depozyt.com">depozyt.com</a>?</h1>
</div>
</center>
<div class="col-md-8 mx-auto">
    <div class="row mt-4">
        <div class="col-12 col-md-4">
            <img class="img-fluid" src="~/images/home-how-it-works/1.png" />
        </div>
        <div class="col-12 col-md-8 description">
            <div>
                <h2 class="mt-md-2 text-left font-weight-bold text_color text-uppercase">1. Zawarcie Umowy</h2>
                <p class="text_color">Strony transakcji wypełniają draft Umowy, w której mogą szczegółowo określić warunki i terminy zrealizowania kontraktu.</p>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-12 col-md-8 description">
            <div>
                <h2 class="mt-md-2 text-left font-weight-bold text_color">2. ZAŁÓŻ SUBKONTO</h2>
                <p class="text_color">
                    Strony transakcji – Kupujący lub zlecający usługę i Sprzedający lub wykonawca usługi zakładają subkonta na platformie depozytowej otrzymując indywidualny unikatowy kod klienta. Strony wymieniają się poza platformą kodami. Strona Kupująca lub zlecająca usługę  po zasileniu subkonta- ma status aktywne konto i może wysyłać pieniądze. Strona Sprzedająca lub wykonawca usługi- ma status pasywny konta, czyli nie może wypłacić pieniędzy, które wysłał Kupujący, aż do momentu zrealizowania kontraktu
                </p>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <img class="img-fluid" src="~/images/home-how-it-works/2.jpg" />
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-12 col-md-4">
            <img class="img-fluid" src="~/images/home-how-it-works/3.png" />
        </div>
        <div class="col-12 col-md-8 description">
            <div>
                <h2 class="mt-md-2 text-left font-weight-bold text_color">3. WYKONAJ PRZELEW</h2>
                <p class="text_color">Kupujący lub odbierający usługę na podstawie warunków zawartej Umowy wysyła pieniądze na subkonto Sprzedającego lub realizującego usługę.</p>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-12 col-md-8 description">
            <div>
                <h2 class="mt-md-2 text-left font-weight-bold text_color">4. Zrealizuj kontrakt</h2>
                <p class="text_color">
                    Sprzedający widzi na swoim subkoncie pieniądze przesłane przez Kupującego lub zamawiającego  usługi i ma status pasywny. Oznacza to, że do czasu zrealizowania Umowy w całości, - Sprzedający, zlecający usługę- nie może dysponować swoimi środkami, czyli nie może przesłać pieniędzy z platformy depozytowej na swój rachunek firmowy.
                </p>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <img class="img-fluid" src="~/images/home-how-it-works/4.png" />
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-12 col-md-4">
            <img class="img-fluid" src="~/images/home-how-it-works/5.png" />
        </div>
        <div class="col-12 col-md-8 description">
            <div>
                <h2 class="mt-md-2 text-left font-weight-bold text_color">5. Sprawdź towar lub wykonanie usługi</h2>
                <p class="text_color">
                    Kupujący po dostawie towaru lub zrealizowanej usługi,
                    sprawdza ilości i jakość lub prawidłowość wykonania usługi.
                    Po spełnieniu postanowień w zawartej wcześniej Umowie
                    Kupujący daje dyspozycję zwolnienia środków, którą
                    potwierdza tokenem na platformie depozytowej.
                </p>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-12 col-md-8 description">
            <div>
                <h2 class="mt-md-2 text-left font-weight-bold text_color">6. WYPŁAĆ ŚRODK</h2>
                <p class="text_color">
                    Na subkoncie Sprzedającego zmienia się status na aktywny, co
                    oznacza, że może swobodnie dysponować środkami i przelać je
                    na dowolne konto.
                </p>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <img class="img-fluid" src="~/images/home-how-it-works/6.png" />
        </div>
    </div>
</div>

<style>
    .description {
        display: flex;
        flex-flow: column;
        justify-content: space-around;
    }
</style>