<script src="js/banner.js"></script>
@{
    ViewData["Title"] = "Strona Główna";
}



<center>
    <div class="dupa">
<div>    
<img src="~/Images/home-banners/1.jpg" alt="banner" width="100%" height="436px" />
</div>
<div class="container">
<article class="backgroud-europe">
 


    <div class="content">
        <p class="col-md-8 mx-auto text-center main-color" style="font-size: 150%">
            Celem transakcji powierniczej jest zabezpieczenie interesów sprzedającego i kupującego. Bezpieczeństwo gwarantuje
            trzecia strona, tak zwany powiernik, który dba o prawidłowy przebieg realizacji umowy.
        </p>
        <div class="row, container">
            <h2 class="mx-auto main-color font-weight-bold">Jak to działa?</h2>
        </div>
        <div class="col-md-10 mx-auto">
            <div class="row mt-4 text">
                <div class="col-sm-12 col-md-2">
                    <div class="info-box">
                        <div style="height: 150px;" class="my-auto">
                            <img class="mx-auto d-block" src="~/images/Wektor_1.png" />
                        </div>
                        <h3 class="mt-md-2 text-center font-weight-bold text_color">1. Podpisz umowę</h3>
                    </div>
                </div>
                <div class="col-sm-12 col-md-2">
                    <div class="info-box">
                        <div style="height: 150px;" class="my-auto">
                            <img class="mx-auto d-block" src="~/images/Wektor_2.png" />
                        </div>
                        <h3 class="mt-md-2 text-center font-weight-bold text_color">2. Załóż subkonto</h3>
                    </div>
                </div>
                <div class="col-sm-12 col-md-2">
                    <div class="info-box">
                        <div style="height: 150px;" class="my-auto">
                            <img class="mx-auto d-block" src="~/images/Wektor_3.png" />
                        </div>
                        <h3 class="mt-md-2 text-center font-weight-bold text_color">3. Wykonaj przelew</h3>
                    </div>
                </div>
                <div class="col-sm-12 col-md-2">
                    <div class="info-box">
                        <div style="height: 150px;" class="my-auto">
                            <img class="mx-auto d-block" src="~/images/Wektor_4.png" />
                        </div>
                        <h3 class="mt-md-2 text-center font-weight-bold text_color">4. Zrealizuj usługę</h3>
                    </div>
                </div>
                <div class="col-sm-12 col-md-2">
                    <div class="info-box">
                        <div style="height: 150px;" class="my-auto">
                            <img class="mx-auto d-block" src="~/images/Wektor_5.png" />
                        </div>
                        <h3 class="mt-md-2 text-center font-weight-bold text_color" style="font-size: 85%;">5. Sprawdź towar lub wykonanie usługi  </h3>
                    </div>
                </div>
                <div class="col-sm-12 col-md-2">
                    <div class="info-box">
                        <div style="height: 150px;" class="my-auto">
                            <img class="mx-auto d-block" src="~/images/Wektor_6.png" />
                        </div>
                        <h3 class="mt-md-2 text-center font-weight-bold text_color">6. Wypłać środki</h3>
                    </div>
                </div>
            </div>
        </div>

        <div class="row my-4">
            <a asp-area="" asp-controller="Home" asp-action="HowItWorks" class="main-color read-more mx-auto"><center>Dowiedz się więcej</center></a>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="col-md-11 mx-auto">
                    <img src="/images/home-depozyt/1.png" class="img-fluid" />
                </div>
                <div class="mt-4">
                    <h3 class="main-color font-weight-bold text-center">Co to jest depoyt.com?</h3>
                    <p class="text-justify">
                        Płatnicza Platforma Powiernicza działająca na
                        platformie depozyt.com - jest platformą finansowa, w
                        której strona trzecia utrzymuje i reguluje wypłatę
                        środków wymaganych zaangażowanych w daną
                        transakcję.
                    </p>
                </div>
                <div class="row text-center">
                    <a class="main-color font-weight-bold mx-auto" asp-area="" asp-controller="Home" asp-action="WhatIsDepozyt">Więcej</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="col-md-11 mx-auto">
                    <img src="/images/home-depozyt/2.png" class="img-fluid" />
                </div>
                <h3 class="main-color font-weight-bold text-center">
                    Do kogo skierowany jest depozyt.com?
                </h3>
                <p class="text-justify">
                    Zabezpieczenie transakcji miedzy przedsiębiorcami
                    Zabezpiecza interesy sprzedającego i kupującego,
                    zleceniodawców jaki zleceniobiorców usług różnego
                    rodzaju. Tych wszystkich którzy biorą udziałw
                    zdarzeniach gospodarczych
                </p>
                <div class="row text-center">
                    <a class="main-color font-weight-bold mx-auto" asp-area="" asp-controller="Home" asp-action="WhatIsDepozyt">Więcej</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="col-md-11 mx-auto">
                    <img src="/images/home-depozyt/3.png" class="img-fluid" />
                </div>
                <h3 class="main-color font-weight-bold text-center">
                    Krok po kroku
                </h3>
                <p class="text-justify">
                    Strony transakcji–Kupujący lub zlecający usługęi
                    Sprzedający lub wykonawca usługi zakładaj ąsubkonta
                    na platformie depozytowej otrzymując indywidualny
                    unikatowy kod klienta otrzymany mailem. Strony
                    wymieniają się poza platformą kodami…
                </p>
                <div class="row text-center">
                    <a class="main-color font-weight-bold mx-auto" asp-area="" asp-controller="Home" asp-action="WhatIsDepozyt">Więcej</a>
                </div>
            </div>
        </div>

        <div class="row main-color, container">
            <h2 class="mx-auto main-color mt-5 mb-4 font-weight-bold">Korzyści z usługi</h2>
        </div>
        <div class="col-md-10 mx-auto profits">
            <div class="row text-center">
                <div class="col-md-2 image-space mx-0 px-0 ml-auto">
                    <img src="/images/profits/1.png" />
                    <p> Ochrona finansowa sprzedawcy i nabywcy </p>
                </div>
                <div class="col-md-3 image-space mx-0 px-0">
                    <img src="/images/profits/2.png" />
                    <p>
                        Maksymalny poziom bezpieczeństwa przy stosunkowo niewielkiej opłacie
                    </p>
                </div>
                <div class="col-md-2 image-space mx-0 px-0">
                    <img src="/images/profits/3.png" />
                    <p>
                        Skutecznepłatności
                        międzynarodowe
                    </p>
                </div>
                <div class="col-md-3 image-space mx-0 px-0">
                    <img src="/images/profits/4.png" />
                    <p>
                        Zgodnośćz
                        obowiązującymi
                        praktykami handlowymi
                    </p>
                </div>
                <div class="col-md-2 image-space mx-0 px-0 mr-auto">
                    <img src="/images/profits/5.png" />
                    <p>
                        Szybkarealizacja
                        transakcji
                    </p>
                </div>
            </div>
        </div>
    </div>
</article>
</div>
<br />
</div></center>
<style>
    .dupa img.background{
        position: absolute;
        z-index: 0;
        top: 0px;
        left: 0;
        width: 100%;
        height: auto;
        opacity: .2;
    }
    .backgroud-europe {
        height: auto;
    }
    .backgroud-europe img.background {
        position: absolute;
        z-index: 0;
        top: 0px;
        left: 0;
        width: 100%;
        height: auto;
        opacity: .2;
    }
    * {
        padding: 0px;
        margin: 0px;
        box-sizing: border-box;
    }

    .carousel-container {
        width: 100%;
        margin: auto;
        overflow: hidden;
    }

    .carousel-slide {
        display: flex;
        width: 100%;
        height: 500px;
    }

    a#read-more {
        color: white;
        text-decoration: none;
        border: 2px solid white;
        padding: 10px 20px;
        border-radius: 2rem;
        position: relative;
        bottom: -60px;
        margin: 40px;
        width: 90%;
    }

    .main-color {
        color: #1b1464 !important;
    }

    a.main-color {
        font-size: 200%;
        text-transform: uppercase;
    }

    .image-space {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
    }

    .info-box {
        display: flex;
        flex-flow: column;
        justify-content: space-between;
    }

        .info-box h3 {
            font-size: 100%;
            font-weight: 500;
        }

        .info-box img {
            max-width: 100%;
        }

    .profits img {
        max-width: 80%;
        margin: auto;
    }

    



    div.content {
        position: relative;
        z-index: 3;
    }

    .read-more {
        border: 4px solid #1b1464;
        border-radius: 2rem;
        padding: 15px 25px;
        font-size: 150%;
        text-decoration: none;
        margin-top: 45px;
        margin-bottom: 45px;
        margin:auto;
        width:90%;
    }

        .read-more:hover {
            background: #1b1464;
            color: white !important;
            border-color: white;
            text-decoration: none;
            outline: none;
            transition: ease-in-out .1s;
        }
</style>



