@{
    ViewData["Title"] = "Strona Główna";
}

<div class="text-center">
    <h1 class="display-4">Welcome to depozyto</h1>
    <img id="cover-image" src="/images/home-banners/1.jpg" style="height: 400px; width: 100%; filter:brightness(90%)" />
</div>
