@{
    ViewData["Title"] = "Privacy Policy";
}



<div class="container">
    <h1>@ViewData["Title"]</h1>
    <p>Kradniemy twoje dane naura</p>
    <p>Ja i moje zajebiste naleśniki</p>
</div>


<div class="text-center">
    <center>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/ob8C2Jw6B_0"
                title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write;
            encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </center>
</div>