<div class="col-md-9 mx-auto mt-4">
    <h1>Co to jest Internetowa Platforma powiernicza – <a href='https://depozyt.com'>depozyt.com</a>?</h1>
    <p><strong>Depozyt</strong> - to umowa finansowa, w ramach której osoba trzecia przechowuje i reguluje wypłatę środków wymaganych dla dwóch stron zaangażowanych w daną transakcję. Pomaga zwiększyć bezpieczeństwo transakcji, przechowując płatność na bezpiecznym rachunku powierniczym, który jest zwalniany tylko wtedy, gdy wszystkie warunki umowy są spełnione zgodnie z nadzorem firmy depozytowej.</p>
    <p>Internetowa Platforma Depozytowa jest bardzo przydatna w przypadku transakcji, w której zaangażowana jest duża kwota pieniędzy, a przed zwolnieniem płatności należy spełnić określoną liczbę zobowiązań, jak w przypadku usług budowlanych, zakupu drogiej maszyny czy linii produkcyjnej- w której kupujący może chcieć potwierdzenia jakości pracy wykonanej przed dokonaniem pełnej płatności, a sprzedawca nie chce przedkładać ogromnej ilości pracy bez gwarancji, że otrzyma zapłatę. Podczas, gdy tradycyjna usługa depozytowa jest dość trudna i musi być uzyskana za pośrednictwem banków i prawników -<a href='https://depozyt.com'>depozyt.com</a> zapewnia usługi depozytowe online po przystępnych cenach.  Płatność jest realizowana przez Internetowa Platformę Depozytowa <a href='https://depozyt.com'>depozyt.com</a>, - transakcję można bezpiecznie przeprowadzić bez ryzyka utraty pieniędzy lub towarów w wyniku oszustwa.</p>
    <h2 class="main-h2">
        <a href='https://depozyt.com'>depozyt.com</a> – to niedrogi sposób na przeprowadzenie transakcji płatniczych między wieloma stronami.
    </h2>

    <div class="row my-5">
        <div class="col-12 col-md-6 d-flex justify-content-center">
            <img src="/images/what-is-depozyt/1.png" class="img-fluid" />
        </div>
        <div class="col-12 col-md-6">
            <h2>Zabezpieczenie transakcji między przedsiębiorcami</h2>
            <p class="text-justify">
                Platforma <a href='https://depozyt.com'>depozyt.com</a> - niedrogi sposób na zabezpieczenie płatności przedsiębiorców.
            </p>
            <p>
                Zabezpieczanie - dotyczy ono zarówno tych, którzy budują autostrady, wiadukty (wykonawców bądź podwykonawców), jak i tych wszystkich, którzy biorą udział w zdarzeniach gospodarczych. Są oni producentami, handlowcami, a Ty musisz brać pod uwagę, że któryś z nich będzie próbował uchylić się od spełnienia warunków umowy lub nie będzie w stanie ich spełnić. Zawierając umowę, musisz zatem być przygotowany na taką ewentualność. Warto zrobić wszystko, co tylko jest możliwe, aby należycie zabezpieczyć transakcję.
            </p>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-12 col-md-6">
            <h2>Jak to działa?</h2>
            <p class="text-justify">
                Przedsiębiorca zamawiający (np. linię produkcyjną, maszyny bądź urządzenia) zabezpiecza całą transakcję depozytem.
            </p>
            <p class="text-justify">
                Wykonawca (linii produkcyjnej, maszyny lub urządzenia) jest pewny zapłaty za wykonanie zlecenia, gdyż widzi te środki na swoim subkoncie platformy <a href='https://depozyt.com'>depozyt.com</a>.  Nie może nimi jednak dysponować do czasu przekazania wykonanego zlecenia ich zleceniodawcy i wykonania przez niego odbioru.
            </p>
            <p class="text-justify">
                Wykonawca dostarcza zamówioną usługę/towar, a środki znajdujące się na platformie depozyt .com są zwalniane i platforma te środki zwalnia.
            </p>
            <p class="text-justify">
                Wykonawca może wówczas tymi środkami dysponować dowolnie. Jest on w stanie przelać na swoje dowolne konto lub zapłacić swoje należności za pomocą platformy.
            </p>
            <p class="text-justify">
                Zabezpieczenie płatności wykonanej usługi. <a href='https://depozyt.com'>depozyt.com</a> to niedrogi sposób na zabezpieczenie płatności przedsiębiorców.
            </p>
        </div>
        <div class="col-12 col-md-6 d-flex justify-content-center">
            <img src="/images/what-is-depozyt/2.png" class="img-fluid" />
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12 col-md-6 d-flex justify-content-center">
            <img src="/images/what-is-depozyt/4.png" class="img-fluid" />
        </div>
        <div class="col-12 col-md-6 ">
            <h2><strong>Rolnictwo.</strong> <br /> <span>Zabezpieczane transakcje w rolnictwie i przetwórstwie przez platformę depozytową <a href='https://depozyt.com'>depozyt.com</a></span></h2>
            <p class="text-justify"><a href='https://depozyt.com'>depozyt.com</a> jest gwarantem ograniczenia ryzyka w prowadzeniu gospodarstwa rolnego.</p>
            <p class="text-justify">Jeśli zawierasz umowy z kontrahentami, musisz brać pod uwagę, że któryś z nich będzie próbował uchylić się od spełnienia warunków umowy lub nie będzie w stanie ich spełnić. Dlatego zawierając umowę - bądź przygotowany na taką ewentualność. Warto zrobić wszystko, co tylko jest możliwe, aby należycie zabezpieczyć transakcję. Tylko Internetowa Platforma Depozytowa- <a href='https://depozyt.com'>depozyt.com</a> jest gwarantem zabezpieczenia transakcji w gospodarstwie rolnym.  </p>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12 col-md-6">
            <h2>Zabezpieczenie transakcji międzynarodowj</h2>
            <h3>Zabezpieczenie płatności na nowych rynkach </h3>
            <p class="text-justify">Kiedy chcemy wejść na nowy rynek, (a tym samym na nowy obszar handlowy przez dokonanie internacjonalizacji swojego produktu lub usługi) musimy mieć świadomość występowania ryzyka  handlowego. Wzrasta ono wraz z momentem spowolnienia gospodarczego, co zauważyć można m.in. w wydłużających się terminach płatności, rosnącej skali opóźnień, w wolniejszym spływie należności lub wręcz - w ich braku.</p>
        </div>
        <div class="col-12 col-md-6 d-flex justify-content-center">
            <img src="/images/what-is-depozyt/5.png" class="img-fluid" />
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-12 col-md-6">
            <img src="/images/what-is-depozyt/6.png" class="img-fluid" />
        </div>
        <div class="col-12 col-md-6
             ">
            <h2>Zabezpieczenie agencji pracy poprzez Internetową Platformę Depozytową <a href='https://depozyt.com'>depozyt.com</a></h2>
            <p class="text-justify">Coraz częściej słyszymy, że firma wynajmująca/leasingująca pracowników okresowych od agencji popada w okresowe trudności z regulowaniem swoich zobowiązań. Najczęściej robi to kosztem wynajmowanych od agencji pracowników, obarczając agencje płatnościami zarówno wobec pracujących, jak i nakładając daniny wobec państwa.</p>
            <p class="text-justify">Jedynym i skutecznym zabezpieczeniem jest skorzystanie z propozycji platformy <a href='https://depozyt.com'>depozyt.com</a></p>
            <p class="text-justify">Leasingodawca zabezpiecza w ten sposób interesy zarówno swoje, jak i leasingowanych pracowników. Usługa ta zapewnia równe traktowanie potrzeb leasingodawcy i leasingobiorcy, a obie strony otrzymują równy poziom ochrony w całym procesie.</p>
        </div>
    </div>
</div>

<style>
    h1 {
        font-size: 1.8rem;
    }

    h2 {
        color: black;
        font-weight: 500;
    }

        h2.main-h2 {
            background: #1b1464;
            text-align: center;
            padding-top: 1.12em;
            padding-bottom: 1.12em;
            color: white;
        }

            h2.main-h2 a {
                color: white;
                text-decoration: none;
                font-weight: 700;
            }
</style>