
<div class="container">
	<center>
		<h1><bold>Błąd - Waluty się nie zgadzają</bold></h1>
	</center>
	<h2>Upewnij się że konto z którego przesyłasz pieniądze jest w takiej samej walucie jak konto kontrahenta</h2>
</div>
