@model IEnumerable<Depozyto.Models.AccountModel>

@{
    ViewData["Title"] = "Dodaj środki";
}

<center>
    <div class="card text-white bg-secondary mb-3" style="max-width: 500px;">

        <div class="card-header"><h2>Dodaj środki do twojego konta</h2></div>
        <div class="card-body">
            <div class="text-center" style="
			width: 400px;
			margin: auto;">

                <form id="Login" asp-action="DepositMoney" asp-controller="Deposit" method="post">

                    
                        <div class="form-group">
                            <label class="col-form-label mt-1" for="inputDefault">Wartość w walucie wybranego konta</label>
                            <input type="number" name="kaska" class="form-control" placeholder="Wartość" id="inputDefault">
                        </div>
                    

                    

                    <div class="form-group">
                        <label for="exampleSelect1" class="form-label mt-4">Wybierz konto na które chcesz wpłacić środki</label>
                        <select class="form-select" id="exampleSelect1" name="numer">
                            @foreach (var item in Model)
                            {
                                <option value="@item.num">@item.num</option>
                            }                 
                        </select>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-12 text-center mt-md-2">
                            <input type="submit" value="Wplata" class="btn btn-success" />
                        </div>
                    </div>
                    
                </form>

                <br />

                <a class="btn btn-danger" asp-controller="DashBoard" asp-action="Cancel">Anuluj</a>

            </div>
        </div>
    </div>
</center>

