@model Depozyto.Models.AdminModel
<div class="container">
	<center>
		<h1>Zmień rolę użytkownika</h1>

    <div class="card text-white bg-secondary mb-3" style="max-width: 500px;">

        <div class="card-header"><h2>Zmień Rolę</h2></div>
        <div class="card-body">
            <div class="text-center" style="
			width: 400px;
			margin: auto;">

                <form id="Login" asp-action="Change" asp-controller="Admin" method="post">

                    <div class="form-group">
                        <label for="exampleSelect1" class="form-label mt-4">Wybierz rolę dla użytkownika</label>
                        <select class="form-select" id="exampleSelect1" name="role">
                                <option>User</option>
                                <option>Admin</option>
                        </select>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-12 text-center mt-md-2">
                            <input type="submit" value="Zmień" class="btn btn-primary"/>
                        </div>
                    </div>

                </form>

                <br />

                <a class="btn btn-info" asp-controller="DashBoard" asp-action="Cancel">Anuluj</a>

            </div>
        </div>
    </div>

    </center>
</div>
