@{
    ViewData["Title"] = "Potwierdź";
}

<html>
<body>
    <div class="container">
        <center>
            <h1>Czy na pewno chcesz zablokować tego użytkownika ?</h1>
            <h2><a asp-controller="Admin" asp-action="Delete">Zablokuj</a></h2>
        </center>
    </div>
    
</body>
</html>
