
<div class="container">
    <center>
        <h1>Panel Administratora</h1>
    </center>

    <div class="account container">
        <ul>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Tabele bazy danych</a>
                <div class="dropdown-menu" style="">
                    <a class="dropdown-item" asp-controller="Admin" asp-action="Users">Użytkownicy</a>
                    <a class="dropdown-item" asp-controller="Admin" asp-action="Accounts">Konta</a>
                    <a class="dropdown-item" asp-controller="Admin" asp-action="Logs">Logi</a>
                </div>
            </li>
        </ul>
    </div>

</div>