<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=2.0" />
    <title>@ViewData["Title"] - Depozyt</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Depozyto.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/quarzstrap.css" />
    <link rel="icon" href="~/favicon1.ico" />
</head>
<body>
    <header>
        <div style="background-color:crimson; text-align:center">
            <h1 style="margin-bottom:0px">Aplikacja w wersji testowej</h1>
        </div>

        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-dark border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index" style="color:whitesmoke"><img src="~/Images/logo-napis4.png" alt="Logo" width="144px" height="38px" /></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">

                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="DashBoard" asp-action="Index">Dashboard</a>
                        </li>
                            @if (User.Identity.IsAuthenticated)
                            {
                            <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle text-light" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Transakcje</a>
                                <div class="dropdown-menu" style="">
                                    <a class="dropdown-item" asp-controller="Transaction" asp-action="Transaction">Wykonaj Transakje</a>
                                    <a class="dropdown-item" asp-controller="History" asp-action="History">Historia Transakcji</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle text-light" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Kontrachenci</a>
                                <div class="dropdown-menu" style="">
                                    <a class="dropdown-item" asp-controller="Contractors" asp-action="Index">Kontrachenci</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle text-light" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Konta Bankowe</a>
                                <div class="dropdown-menu" style="">
                                    <a class="dropdown-item" asp-controller="Accounts" asp-action="Index">Konta Bankowe</a>
                                    <a class="dropdown-item" asp-controller="Deposit" asp-action="Deposit">Dodaj Środki</a>
                                </div>
                            </li>
                            }
                            else
                            {
                            }

                    </ul>
                    
                   
                    <div>
                        @if(User.Identity.IsAuthenticated)
                        {
                            <div style="display:flex">
                                <center>
                                            <a class="nav-link text-light" asp-area="" asp-controller="Home" 
                                            asp-action="Index" style="margin-right:20px">Witaj, @User.Identity.Name</a>
                                </center>
                                
                                <center>
                                <a class="nav-link text-light" asp-area="" asp-controller="Login"
                                    asp-action="Logout"><right>Wyloguj się</right></a>
                                </center>
                            </div>
                        }else
                        {
                           <center>
                                <a class="nav-link text-light" asp-area="" asp-controller="Login"
                               asp-action="Index"><right>Zaloguj się lub Zarejestruj</right></a>
                            </center>
                        }
                        
                    </div>
                    
                    
                   
                    
                </div>
            </div>
        </nav>
    </header>
    <div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted" style="bottom: 0">
        <div class="container">
            &copy; 2022 - Igor Heliński, Krystian Bołtuć - Depozyt - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a> - <a asp-area="" asp-controller="Admin" asp-action="Index">Admin</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
